/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

/* /GENERAL PRESETS */


/* HEADER - SPEAKER VIEW-FULLSCREEN */

.header-setting {
  text-align: right;
  background-color: #000000;
  height: 50px;
}

.speaker, .fullsize {
  background-color: #4A4A4A;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  padding: 7px 12px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* HEADER - /SPEAKER VIEW-FULLSCREEN */


/* MAIN */

.videochat {
  height: calc(100% - 128px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.screen {
  position: relative;
  width: 260px;
  height: 250px;
  margin: 5px;
}

.screen img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.screen span {
  background-color: rgba(0, 0, 0, .5);
  color: #FFFFFF;
  padding: 3px 5px 3px 35px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.screen i {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 8px;

}


/* FOOTER */

.menu-footer {
  justify-content: space-between;
  background-color: #222222;
}


/* FOOTER - AUDIO-VIDEO COMMANDS */

.av-commands {
  align-items: center;
  padding: 0 15px;
}

.av-commands li {
  padding-right: 5px;
  text-align: center;
  
}

.av-commands a {
  text-decoration: none;
  color: #FFFFFF;
}

.av-commands i {
  font-size: 25px;
  padding-bottom: 5px;
}

.a-tool {
  margin-right: 35px;
}

.audio .fa-chevron-up, .video .fa-chevron-up {
  font-size: 12px;
}


/* FOOTER - ZOOM COMMANDS */

.zoom-commands {
  align-items: center;
}

.zoom-commands li {
  text-align: center;
  padding: 0 15px;
}

.zoom-commands a {
  text-decoration: none;
  color: #FFFFFF;
}

.zoom-commands i {
  font-size: 25px;
  padding-bottom: 5px;
}

.tool-commands .fa-chevron-up {
  font-size: 12px;
  margin-top: 20px;
}

/* FOOTER - MEETING COMMANDS */


.meeting-command {
  background-color: #4A4A4A;
  padding: 0 25px;
  align-items: center;
}

.meeting-command li a {
  text-align: center;
  color: #FF0000;
  text-decoration: none;
}