/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.f-end-header {
  justify-content: flex-end;
  background-color: #000000;
}

/* GENERAL PRESETS */


/* HEADER - SPEAKER VIEW-FULLSCREEN */


.speaker {
  position: relative;
  margin-right: 15px;
}

.speaker i{
  position: absolute;
  top: 6px;
  left: 5px;
  color: #FFFFFF;
}
   
.speaker p, .fullscreen {
background-color: #4A4A4A;
border-radius: 5px;
padding: 5px 10px 5px 28px;
color: #FFFFFF;
}

.fullscreen {
  
  padding: 6px 10px 6px 10px;
  right: 5px;
}

/* HEADER - /SPEAKER VIEW-FULLSCREEN */


/* MAIN */


/* FOOTER */

.menu-footer {
  justify-content: space-between;
  background-color: #222222;
}


/* FOOTER - AUDIO-VIDEO COMMANDS */

.av-commands {
  align-items: center;
  padding: 0 15px;
}

.av-commands li {
  padding-right: 5px;
  justify-content: center;
}

.av-commands a {
  text-decoration: none;
  color: #FFFFFF;
}

.av-commands i {
  font-size: 25px;
  padding-bottom: 5px;
}

/* FOOTER - ZOOM COMMANDS */

.zoom-commands {
  align-items: center;
}

.zoom-commands li {
  text-align: center;
  padding: 0 15px;
}

.zoom-commands a {
  text-decoration: none;
  color: #FFFFFF;
}

.zoom-commands i {
  font-size: 25px;
  padding-bottom: 5px;
}

.fa-chevron-up {
  font-size: 14px;
}

/* FOOTER - MEETING COMMANDS */


.meeting-command {
  background-color: #4A4A4A;
  padding: 0 25px;
  align-items: center;
}

.meeting-command li a {
  text-align: center;
  color: #FF0000;
  text-decoration: none;
}